.git/
.vscode/

**/__pycache__/

data/*
data.zip

latent_data/*
latent_data.zip
latent_test_data/*

weights/*
weights-B/*
weights_old/*

test_data/*
test_data.zip
test_data_old/*
test_data_uncropped/*

lhq/*
lhq_subset.zip

ddim_samples/*
cfg_samples/*

pdf/*